@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or any global CSS file */
.hero-text {
  text-align: center;
  color: white;
  padding-left: 1.5rem; /* 6px */
  padding-right: 1.5rem; /* 6px */
}

@media (min-width: 640px) {
  .hero-text {
    padding-left: 3rem; /* 12px */
    padding-right: 3rem; /* 12px */
  }
}


.last-row {
  justify-content: space-between; /* Space between for two items */
}
.last-row:has(:nth-child(1):last-child) {
  justify-content: center; /* Center for single item */
}
